body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  background: transparent;
}

.carousel {
  margin: auto;
  width: 60%;
  padding: 10px;
  background: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("./assets/images/gamingbackdrop1.jpg");
  background-size: cover;
}


.info {
  color: white;
}

a {
  padding: 20px 5px;
}

Form {
  width: 50%;
  margin: auto;
}

.navinfo {
  color: white;
  flex-direction: column;
  cursor: default;
}

a:hover {
  color: purple !important;
}

a,
u {
  text-decoration: none !important;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

input {
  height: 30px;
}

.button {
  height: 30px;;
}

.pslogos{
  width: 40px;
  height: auto;
}